.btn {
    padding: 20px 40px;
    background: transparent;
    border: 1px solid var(--color, black);
    &:hover {
        background: var(--color, black);
        color: white;
        cursor: pointer;
    }
}

.btn.red {
    --color: red;
}